%section#2014.home-section.text-center.bg-gray
  .heading-about
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .wow.bounceInDown{"data-wow-delay" => "0.4s"}
            .section-heading
              %h2 Winter 2014

  .container
    .row
      .col-lg-12
        %hr.marginbot-50
    .row
      .col-sm-4.col-md-4
        .wow.fadeInLeft{"data-wow-delay" => "0.2s"}
          .service-box
            .service-icon
              %img.img-thumbnail{:alt => "", :src => "img/1.png"}/
            .service-desc
              %h3 1. First place
              %p
                %b
                  Radek Hofman, Michal Ráček
              %p.about-app On-line atmospheric dispersion modeling laboratory demonstrates that running of complex scientific models can be conducted also from the web environment using a small home-made cluster powered by multiple OpenShift gears.

              .row
                .col-md-4.col-md-offset-2
                  %button.btn.btn-rules.btn-lg Demo »
                .col-md-4
                  %button.btn.btn-rules.btn-lg Code »
      .col-sm-4.col-md-4
        .wow.fadeInUp{"data-wow-delay" => "0.2s"}
          .service-box
            .service-icon
              %img.img-thumbnail{:alt => "", :src => "img/2.png"}/
            .service-desc
              %h3 2. Second place
              %p
                %b Jan Včelák
              %p.about-app gitlab2jenkins is a simple web application which provides a bridge between GitLab and Jenkins CI server.

              .row
                .col-md-4.col-md-offset-2
                  %button.btn.btn-rules.btn-lg Demo »
                .col-md-4
                  %button.btn.btn-rules.btn-lg Code »

      .col-sm-4.col-md-4
        .wow.fadeInUp{"data-wow-delay" => "0.2s"}
          .service-box
            .service-icon
              %img.img-thumbnail{:alt => "", :src => "img/3.png"}/
            .service-desc
              %h3 3. Third place
              %p
                %b Michal Trunečka
              %p.about-app Dashboard is a Django application using Gridster library for displaying several web pages on one.

              .row
                .col-md-4.col-md-offset-2
                  %button.btn.btn-rules.btn-lg Demo »
                .col-md-4
                  %button.btn.btn-rules.btn-lg Code »


    .row
      .col-lg-12
        %hr.marginbot-50
    .row
      .col-sm-4.col-md-4.col-md-offset-2.col-sm-offset-2
        .wow.fadeInLeft{"data-wow-delay" => "0.2s"}
          .service-box
            .service-icon
              %img.img-thumbnail{:alt => "", :src => "img/4.png"}/
            .service-desc
              %h3 Special OpenGov prize
              %p
                %b
                  Paweł Mendelski
              %p.about-app2 eDemocracy is portal with several function to support open government, such as online petitions, social questions and vitual referendum.

              .row
                .col-md-4.col-md-offset-2
                  %button.btn.btn-rules.btn-lg Demo »
                .col-md-4
                  %button.btn.btn-rules.btn-lg Code »

      .col-sm-4.col-md-4
        .wow.fadeInUp{"data-wow-delay" => "0.2s"}
          .service-box
            .service-icon
              %img.img-thumbnail{:alt => "", :src => "img/5.png"}/
            .service-desc
              %h3 Creative prize
              %p
                %b Dwaraka Nath
              %p.about-app2 ComPair is matching your peers and make pairs on Facebook.

              .row
                .col-md-4.col-md-offset-2
                  %button.btn.btn-rules.btn-lg Demo »
                .col-md-4
                  %button.btn.btn-rules.btn-lg Code »

    .row
      .col-lg-2.col-lg-offset-5
        %i.fa.fa-2x.fa-angle-down.arrow