
%section#about.home-section.text-center
  .heading-about
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .wow.bounceInUp{"data-wow-delay" => "0.4s"}
            .section-heading
              %h2 About 
  .container
    .row
      .col-lg-12
        %hr.marginbot-50
    .row
      .col-lg-8.col-lg-offset-2
        .about
          .wow.bounceInRight{"data-wow-delay" => "0.2s"}
            %p
              The OpenShift Winter of Code is a competition for the best application built on OpenShift. From most practical to the most crazy, submit your applications and win fabulous prizes, such as Google Nexus Tablet and much more! The winners on each category will be announce on the DevConf 2015, where they will receive their prizes.
          .wow.bounceInUp{"data-wow-delay" => "0.5s"}
            %p
              For inspiration you can browse through some of the winning application from last year.
          %br
          %hr
          %br
          .wow.bounceInLeft{"data-wow-delay" => "0.8s"}
            %p
              This year, besides the main competition for the best application, we also would like to announce a side competition, in which you can receive OpenShift T-Shirt for any contribution to our OpenShift organization on GitHub
              %a.OSgithub{:href => "https://github.com/openshift"}
                %i.fa.fa-github
    .row
      .col-lg-2.col-lg-offset-5
        %i.fa.fa-2x.fa-angle-down.arrow