.jumbotron
	%h1 Úvod

.row.contact
	.col-lg-10.col-lg-offset-1
		%blockquote.first
			%p Spoločnosť HTM trade spol. s r.o. je obchodnou spoločnosťou, ktorá je v činnosti od roku 2003 so zameraním na realitný trh a činnosť v letectve. Od roku 2013  je primárnou podnikateľskou činnosťou spoločnosti vývoj, výroba a predaj softwaru a hardwaru pre potreby zakazníkov z oblasti obchodu a marketingu, bankovníctva, všetkých druhov dopravy, cestovného ruchu, štátnej a verejnej správy a pod.
			%p Sekundárnou podnikateľskou činnosťou je sprostredkovanie,  predaj náhradných dielov a zabezpečenie opráv leteckej a letiskovej techniky.
		%blockquote.second
			%p
				Zameranie v oblasti IT je prioritne postavené na vývoji a výrobe užívateľských programov, správcovského softwaru pre riadenie užívateľských systémov. Vytvorením takýchto softwarov dostane budúci užívateľ komplexné programové vybavenie, ktoré je postavené. Mladý tým IT špecialistov je pripravený poskytnúť našim klientom stabilne pracujúci software.
		%blockquote.third
			%p
				Prostredníctvom takýchto programov v spojitosti s dokonalou interaktivitou a vizualizáciou sa vytvoria dokonalé interaktívne prezentácie a aktívne reklamy, ktoré bude riadiť a ovládať priamo klienti užívateľa. Je rokmi osvedčenou marketingovou pravdou, že každý klient potrebuje raz vidieť ako tisíckrát počuť.
			/ %small
			/ 	“Ľudia potrebujú chlieb a hry, my ponúkame našim užívateľom hru, aby si klient u užívateľa kúpil chlieb.“

